<section class="bg-main-light p-4 mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-capitalize fw-bold text-main">
          get the fresh cart app
        </h3>
        <p class="text-capitalize">
          we will send you a link , open it on your phone to download the app
        </p>
        <div class="row gy-2">
          <div class="col-md-10">
            <input
              type="email"
              name="email"
              placeholder="Email..."
              class="form-control p-2"
            />
          </div>
          <div class="col-md-2">
            <button class="btn-main text-capitalize d-block ms-auto w-100 p-2">
              share app link
            </button>
          </div>
          <hr class="mt-4" />
        </div>

        <div class="row gy-2">
          <div class="col-md-6">
            <div class="d-flex align-items-center justify-content-start">
              <p class="text-capitalize p-0 m-0 me-2">payment parteners :</p>
              <img src="assets/images/master.svg" alt="..." />
              <img src="assets/images/visa-1.svg" alt="..." />
              <img src="assets/images/icons8-paypal.svg" alt="..." />
              <img
                src="assets/images/icons8-amazon-web-services.svg"
                alt="..."
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex align-items-center justify-content-end">
              <p class="text-capitalize p-0 m-0 me-2">
                get deleveries with fresh cart :
              </p>
              <img
                class="stores"
                src="assets/images/icons8-microsoft-store.svg"
                alt="..."
              />

              <img
                class="stores"
                src="assets/images/icons8-google-play-store.svg"
                alt="..."
              />
              <img
                class="stores"
                src="assets/images/icons8-app-store.svg"
                alt="..."
              />
            </div>
          </div>

          <hr class="mt-3" />
        </div>

        <div class="container-fluid">
          <div class="row gy-2 mt-2">
            <div class="col-md-5">
              <h6
                class="shadow-lg text-uppercase text-dark fw-bold m-0 p-0 me-2"
              >
                CopyRight ©️ 2024 , Made With <span class="mx-2">💚</span> By :
                <span id="developer" class="text-uppercase"
                  >Dev / Omar Eldeeb</span
                >
              </h6>
            </div>
            <div class="col-md-3">
              <div class="text-center">
                <img src="assets/images/twitter2.svg" alt="..." />
                <img src="assets/images/facebook2.svg" alt="..." />
                <img src="assets/images/pinterest.svg" alt="..." />
                <img src="assets/images/linkedin2.svg" alt="..." />
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex align-items-center justify-content-center">
                <p class="p-0 m-0 fw-bold h6 me-2">Powerd By :</p>
                <img src="assets/images/angular.svg" alt="..." />
                <img src="assets/images/web.svg" alt="..." />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
